<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.partyshare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PartyShare">
        <activity
            android:name=".transferConfirmation"
            android:exported="true" />
        <activity
            android:name=".statsView"
            android:exported="true" />
        <activity
            android:name=".receiptDataSend"
            android:exported="true" />
        <activity
            android:name=".friendsListParty"
            android:exported="true" />
        <activity
            android:name=".membersList"
            android:exported="true" />
        <activity
            android:name=".expenseList"
            android:exported="true" />
        <activity
            android:name=".partyList"
            android:exported="true" />
        <activity
            android:name=".party_main"
            android:exported="true" />
        <activity
            android:name=".friendsList"
            android:exported="true" />
        <activity
            android:name=".friendsRequestsList"
            android:exported="true" />
        <activity android:name=".receiptScanner" />
        <activity android:name=".emailChange" />
        <activity android:name=".passwordChange" />
        <activity android:name=".welcomeView" />
        <activity android:name=".userCreate" />
        <activity android:name=".Login" />
        <activity android:name=".Dashboard" />
        <activity android:name="com.canhub.cropper.CropImageActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />
    </application>

</manifest>